@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root {
    --bg-color:#ecfae1;
    --text-color:#403e3e;
    --color-two :#113124;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    a {
        text-transform: capitalize;
    }
}
body {
    font-family: "Protest Riot", sans-serif;
    background-color: var(--bg-color);
}
 nav {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .logo img {
    width: 100px;
 } 

 nav ul {
    display: flex;
    
   
 }

 nav ul li a{
   color: var(--color-two);
   font-size: 20px;
    
   
 }
 nav .sign-in a{
   color: var(--color-two);
   font-size: 20px;
    
   
 }
main {
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}
main .intro {
    background-color: #00000067;
    width: 580px;
    
    padding: 20px;
    text-align: center;
    border-radius:20% 0% 20% 0% ;
}

main .intro h1 {
    font-size :50px;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
main .intro p {
    margin-bottom: 20px;
    color:#fff;
    letter-spacing: 1px;
}
main .intro button {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 25px;
    border-radius:10px 15px ;
    outline: none;
    border: none;
}

 @media (max-width:600px) {

    nav {
        
        flex-direction: column;
        
        


    }
    .logo {
        text-align: center;
        width: 100%;
     margin-bottom: 30px;
    
      
    }
    .logo img {
        width: 150px;
    }
    ul {
        margin-bottom: 10px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        align-items: center;
        padding: 20px;
        border-radius: 15px;
       
    }
    ul li {
        width: 100%;
        margin-left: 0px;
        background-color: #fff;
        text-align: center;
        border-bottom: #113124 solid 1px;
        padding: 10px 0;
        
    }
    ul li a {
        width: 100%;
        font-size: 20px;
        
        
    }
     
    .sign-in{
        margin-bottom: 30px;
        width: 20%;
        text-align: center;
        border-radius: 8px;
        background-color: #fff;
        padding: 10px 0;
       
    }

    main  {
        background-size:600px;
        height: auto;
    }

    main .intro {
        
        width: 540px;
    }
    main .intro h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    main .intro button {
        font-size: 14px;
    }
    main .intro p {
        font-size: 14px;
    }
    
    .food .card {
        grid-column: 1/4;
    }
    
 }

 @media (min-width:601px) {
    ul li {
        margin-left: 20px;
    }
    
 }

 .food {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin:200px auto;
 }

 .food .card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }

 .food h1 {
    margin-left:auto;
    margin-right:auto;
    grid-column: 1/4;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--color-two);
    margin-bottom: 30px;
 }

